<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>
<div th:include="fragments/navbar::navbar"></div>

<div id="page-content">
    <div class="container">
        <br/><br/><br/><br>
        <!-- Page Heading -->
        <h2 style="text-align: center" th:if="${productTypeID}==1" th:object="${productTypeID}">Pizza menu</h2>
        <h2 style="text-align: center" th:if="${productTypeID}==2" th:object="${productTypeID}">Drink menu</h2>
        <br/>
        <div class="row">
            <div th:each="item : ${items}" class="col-sm-3 mb-4">

                <div class="card h-100 product-info">
                    <a th:href="@{/item/showItem(id=${item.id})}"><img class="card-img-top"
                                                                       th:src="@{${item.imgPath}}" alt=""></a>
                    <div class="card-body text-center h-100 justify-content-center">
                        <h4 class="card-title">
                            <a style="color: #D72323; font-weight: bold;" th:href="@{/item/showItem(id=${item.id})}"
                               th:text="${item.name}">Project One</a>
                        </h4>
                        <div class="description-border">
                            <i><p class="card-text" th:text="${item.description}"/></i>
                        </div>
                        <b style="font-size: 20px;">$<p class="card-text" th:text="${item.price}" th:remove="tag">
                            Price </p></b>
                    </div>

                    <div class="btn-group-vertical">
                        <a th:href="@{/admin/showFormForUpdate(id=${item.id})}"
                           sec:authorize="isAuthenticated() && hasRole('ADMIN')"
                           class="btn btn-info btn-lg btn-square btn-block">
                            Update
                        </a>
                        <a th:href="@{/admin/deleteItem(id=${item.id})}"
                           sec:authorize="isAuthenticated() && hasRole('ADMIN')"
                           class="btn btn-danger btn-lg btn-square btn-block"
                           th:onclick="'alert(\'This item has been deleted successfuly!\');'">
                            Delete
                        </a>
                    </div>

                    <div style="text-align: center; margin-top: 2px;">
                        <a th:href="@{/users/items/add(itemID=${item.id})}"
                           sec:authorize="isAuthenticated() && hasRole('USER')"
                           class="btn btn-danger btn-lg btn-square btn-block "
                           th:onclick="'alert(\'This item is added to your shopping cart!\');'"
                           th:text="'Add to cart'">
                        </a>

                    </div>
                </div>


            </div>
        </div>
        <!-- /.row -->

        <!-- Pagination
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
-->
    </div>
    <!-- /.container -->
</div>

<div th:include="fragments/footer::footer"></div>
</body>
</html>
