<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Update item form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/item-form.css}"/>
</head>
<body>
<div th:include="fragments/navbar::navbar"></div>

<br/>
<br/>
<br/>
<br/>

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6 item-form">
            <br/>
            <p class="h4 mb4" style="text-align: center"> Update item </p>
            <br/><br/>
            <form action="#" th:action="@{/admin/update}"
                  th:object="${item}" method="POST">

                <input type="hidden" th:field="*{id}">

                <input type="text" th:field="*{name}"
                       class="form-control mb-4" placeholder="Name">

                <p style="color:red">CHOOSE</p>
                <select class="form-control" th:field="*{productType}" id="dropOperator">
                    <option value="0">Choose type</option>
                    <option th:each="tempType : ${productTypes}" th:value="${tempType.id}"
                            th:text="${tempType.type}"></option>
                </select>

                <br/>

                <input type="number" th:field="*{price}"
                       class="form-control mb-4" placeholder="Price" step="0.001">

                <input type="text" th:field="*{description}"
                       class="form-control mb-4" placeholder="Description">

                <input type="text" th:field="*{imgPath}"
                       class="form-control mb-4" placeholder="Image path">

                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-info col-6"
                            th:onclick="'alert(\'Product has been updated successfuly!\');'">Update
                    </button>
                </div>
                <br/>
            </form>

        </div>

        <div class="col-sm-3"></div>

    </div>
</div>

<br/>
<br/>

<div th:include="fragments/footer::footer"></div>

</body>
</html>
