<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/index" sec:authorize="isAuthenticated()"><strong>MET</strong><i>pizzeria</i></a>
            <a class="navbar-brand" href="/" sec:authorize="!isAuthenticated()"><strong>MET</strong><i>pizzeria</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/index}" sec:authorize="isAuthenticated()">Home
                            <span class="sr-only">(current)</span>
                        </a>
                        <a class="nav-link" th:href="@{/}" sec:authorize="!isAuthenticated()">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/itemsList(id=1)}">Pizza menu</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/itemsList(id=2)}">Drink menu</a>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/user/register}">Register</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated() && hasRole('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin panel
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p style="margin-left: 8px">Items</p>
                            <a class="dropdown-item" th:href="@{/admin/addItemForm}">Add new item</a>
                            <a class="dropdown-item" th:href="@{/admin/itemsList}">Update or delete items</a>
                            <div class="dropdown-divider"></div>
                            <p style="margin-left: 8px">Orders</p>
                            <a class="dropdown-item" th:href="@{/admin/viewAllOrders}" role="button">View all orders</a>
                        </div>
                    </li>
                    <li sec:authorize="isAuthenticated() && hasRole('USER')">
                        <a class="nav-link" th:href="@{/users/items/showItems}" role="button"
                           th:action="@{/users/items/showItems}" th:object="${size}"
                           th:text="'Shopping cart' + ' ' + ${size}">
                        </a>
                    </li>


                    <li sec:authorize="isAuthenticated() && hasRole('USER')">
                        <a class="nav-link" th:href="@{/user/viewOrders}" role="button">Orders</a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}" role="button">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


