<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Shopping cart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/index.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function () {
            var docHeight = $(window).height();
            var footerHeight = $('#sticky-footer').height();
            var footerTop = $('#sticky-footer').position().top + footerHeight;
            if (footerTop < docHeight) {
                $('#sticky-footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
            }
        });
    </script>
</head>

<body>


<div th:include="fragments/navbar::navbar"></div>

<br/> <br/>
<br/>
<br/>

<h4 style="text-align: center" th:if="${!items.isEmpty() and items!=null}">Your shopping cart has <p
        th:text="${items.size()} + ' '" style=" display: inline; color: red;"/>
    <p style="text-align: center; display: inline;" th:if="${items.size()==1}">item</p>
    <p style="text-align: center; display: inline;" th:if="${items.size()!=1}">items</p>
</h4>
<div class="row justify-content-center">
    <a th:href="@{/users/items/deleteAllItems(items=${items})}" th:object="${items}"
       th:if="${!items.isEmpty() and items!=null}">
        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Clear cart
    </a>
</div>
<br th:if="${items.isEmpty()}"/>
<br th:if="${items.isEmpty()}">
<br th:if="${items.isEmpty()}"/>
<br th:if="${items.isEmpty()}"/>
<br th:if="${items.isEmpty()}">
<br th:if="${items.isEmpty()}"/>
<br th:if="${items.isEmpty()}"/>
<br/>
<h1 style="text-align: center" th:if="${items.isEmpty()}">Your shopping cart is empty!</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>


        <div class="col-sm-6">

            <table class="table table-bordered table-striped ">
                <thead class="thead-dark">
                <tr th:if="${!items.isEmpty() and items!=null}">
                    <th>Item</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${items}" th:object="${items}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${#numbers.formatCurrency(item.price)}"></td>
                    <td>
                        <a th:href="@{/users/items/delete(itemID=${item.id})}"
                           th:onclick="'alert(\'This item has been deleted!\');'">
                            Delete
                        </a>
                    </td>
                </tr>
                <tr th:if="${!items.isEmpty() and items!=null}">
                    <td></td>
                    <td>Total: <b th:text="${#numbers.formatCurrency(#aggregates.sum(items.![price]))}"/></td>
                    <td></td>
                </tr>
                <tbody>
            </table>


            <div class="row justify-content-center">

                <a th:href="@{/user/order}" th:action="@{/users/items/deleteAllItems(items=${items})}"
                   th:object="${items}"
                   class="btn btn-primary btn-md col-sm-6" th:if="${!items.isEmpty() and items!=null}"
                   th:onclick="'alert(\'Successful order!\');'">
                    Order
                </a>
            </div>

            <div class="col-sm-6">

                <!-- <p>Final sum</p> -->
            </div>

        </div>


    </div>
    <div class="col-sm-3"></div>

</div>

<br/>
<br/>

<div th:include="fragments/footer::footer"></div>

</body>

</html>