<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Orders</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/orders.css}"/>

    <script type="text/javascript">
        $(document).ready(function () {
            var docHeight = $(window).height();
            var footerHeight = $('#sticky-footer').height();
            var footerTop = $('#sticky-footer').position().top + footerHeight;
            if (footerTop < docHeight) {
                $('#sticky-footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
            }
        });
    </script>
</head>

<body>

<div th:include="fragments/navbar::navbar"></div>

<br/> <br/>
<br/>
<br/>
<h4 style="text-align: center" sec:authorize="isAuthenticated() && hasRole('ADMIN')">All orders</h4>
<h4 style="text-align: center" sec:authorize="isAuthenticated() && hasRole('USER')">Your orders</h4>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8">

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr style="text-align: center;">
                    <th>ID</th>
                    <th class="inline-column">Order</th>
                    <th>SUM</th>
                    <th class="inline-column">Ordered by</th>
                    <th class="inline-column">Address</th>
                    <th class="inline-column">Order status</th>
                    <th sec:authorize="isAuthenticated() && hasRole('ADMIN')">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}" th:object="${orders}" style="text-align: center;">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.name}"></td>
                    <td th:text="${#numbers.formatCurrency(order.sum)}"></td>
                    <td th:text="${order.users.firstName} + ' ' + ${order.users.lastName}"></td>
                    <td th:text="${order.users.address}"></td>
                    <td th:text="${order.orderStatus.status}"></td>
                    </td>

                    <td sec:authorize="isAuthenticated() && hasRole('ADMIN')">
                        <a th:href="@{/admin/showOrderStatusUpdateForm(orderID=${order.id})}"
                           sec:authorize="isAuthenticated() && hasRole('ADMIN')"
                           class="btn btn-info btn-md ">
                            Update status
                        </a>
                    </td>

                </tr>
                <tbody>
            </table>

        </div>
        <div class="col-sm-2"></div>

    </div>
</div>

<br/><br/>
<br/><br/>
<div th:include="fragments/footer::footer"></div>

</body>
</html>
